[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptocompare = "*"
matplotlib = "*"
pandas = "*"
xlrd = "*"
openpyxl = "*"
deap = "*"
mysql-connector-python = "*"
flask = "*"
python-dotenv = "*"
cctx = "*"
python-bitbankcc = {ref = "master", git = "https://github.com/bitbankinc/python-bitbankcc"}

[dev-packages]
